workflows_source/Test Evaluate Product Query.json
{
  "name": "Test Evaluate Product Query",
  "nodes": [
    {
      "parameters": {
        "source": "googleSheets",
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1TzFmPp9B7glqYkY3VvI5GiQUucwInahYtftJREjv2_c",
          "mode": "list",
          "cachedResultName": "Interactions history",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TzFmPp9B7glqYkY3VvI5GiQUucwInahYtftJREjv2_c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1TzFmPp9B7glqYkY3VvI5GiQUucwInahYtftJREjv2_c/edit?gid=0#gid=0",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "7f3e9f0e-001a-425b-ba6a-b4112d876ee6",
      "name": "When fetching a dataset row",
      "credentials": {
        "googleApi": {
          "id": "Q3eBa2xL7sYCTn38",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "source": "googleSheets",
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1TzFmPp9B7glqYkY3VvI5GiQUucwInahYtftJREjv2_c",
          "mode": "list",
          "cachedResultName": "Interactions history",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TzFmPp9B7glqYkY3VvI5GiQUucwInahYtftJREjv2_c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1TzFmPp9B7glqYkY3VvI5GiQUucwInahYtftJREjv2_c/edit?gid=0#gid=0",
          "mode": "url"
        },
        "outputs": {
          "values": [
            {
              "outputName": "actual_output_is_compliant",
              "outputValue": "={{ $('Call \\'Evaluate Product query\\'').item.json.output[0].content[0].text.is_compliant }}"
            },
            {
              "outputName": "actual_output_confidence",
              "outputValue": "={{ $('Call \\'Evaluate Product query\\'').item.json.output[0].content[0].text.confidence }}"
            },
            {
              "outputName": "actual_output_reasoning",
              "outputValue": "={{ $('Call \\'Evaluate Product query\\'').item.json.output[0].content[0].text.reasoning }}"
            },
            {
              "outputName": "eval_correctness",
              "outputValue": "={{ $json.Correctness }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        1024,
        0
      ],
      "id": "ff3dc12b-b4ba-4b5c-86d8-d2fc498b4e82",
      "name": "Record evaluation",
      "credentials": {
        "googleApi": {
          "id": "Q3eBa2xL7sYCTn38",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "expectedAnswer": "={\n\"compliant\":{{ $('When fetching a dataset row').item.json.expected_output_is_compliant }}, \n\"confidence\":{{ $('When fetching a dataset row').item.json.expected_output_confidence }}, \n\"reasoning\":\"includes at least one of the following:{{ $('When fetching a dataset row').item.json.expected_output_reasoning }}\"\n}",
        "actualAnswer": "={\n\"compliant\":{{ $json.output[0].content[0].text.is_compliant }}, \n\"confidence\": {{ $json.output[0].content[0].text.confidence }}, \n\"reasoning\":\"{{ $json.output[0].content[0].text.reasoning }}\"\n}",
        "prompt": "You are an expert factual evaluator assessing the accuracy of answers compared to established ground truths.\n\nEvaluate the factual correctness of a given output compared to the provided ground truth on a scale from 1 to 5. Use detailed reasoning to thoroughly analyze all claims before determining the final score.\n\n# Evaluation Steps\n\n1. Compare the 'compliant' attribute from ANSWER to GROUND TRUTH's, they must be an exact match. When met, grant 2 points.\n\n2. Compare the 'confidence' attribute from ANSWER to GROUND TRUTH, they can be an approximate match within 2 decimal positions. For example: GROUND TRUTH[\"compliance\"] is 0.7 and ANSWER[\"compliance\"] is 0.6 so they are an approximate match; expected compliance is 0.7 and actual compliance is 0.95 = no match (difference greater than 0.2). When met, grant 2 points.\n\n3. Compare the 'reasoning' attribute: ANSWER[\"reasoning\"] must CONTAIN an exact match of at least one item from the list in GROUND TRUTH[\"reasoning\"]. When met, grant 1 point. \n\n4. Sum the granted points from previous steps.\n\n# Output Format\n\nProvide:\n- A one-sentence summary highlighting key differences (not similarities)\n- The final similarity score as an integer (1, 2, 3, 4, or 5)\n\nAlways follow the JSON format below and return nothing else:\n{\n  \"reasoning_summary\": \"<one sentence summary focusing on key differences>\",\n  \"score\": <number: integer from 1 to 5>\n}\n\n# Notes\n\n- Focus primarily on factual accuracy and semantic similarity, not writing style or phrasing differences.\n- Identify specific differences rather than making general assessments.\n- Pay special attention to dates, numbers, names, locations, and causal relationships when present.\n- Consider the significance of each difference in the context of the overall information.\n- Be consistent in your scoring approach across different evaluations.",
        "options": {
          "metricName": "Correctness",
          "inputPrompt": "ANSWER: {actual_answer}\n\nGROUND TRUTH: {expected_answer}"
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        672,
        0
      ],
      "id": "c00c0e70-83d9-4b47-8508-a3e94191179c",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"extended_reasoning\": {\n      \"type\": \"string\"\n    },\n    \"reasoning_summary\": {\n      \"type\": \"string\"\n    },\n    \"score\": {\n      \"type\": \"integer\"\n    }\n  },\n  \"additionalProperties\": false,\n  \"required\": [\"extended_reasoning\",\"reasoning_summary\",\"score\"]\n}",
              "strict": true
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        224
      ],
      "id": "1a995722-0e70-4ce2-bd70-a2cc50475e4e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "eMIkhuZLTToE43JE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZvmxyPbWnmXC957J",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZvmxyPbWnmXC957J",
          "cachedResultName": "Evaluate Product query"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "StoreID": "={{ $json.input_StoreID }}",
            "Location": "={{ $json.input_Location }}",
            "Product": "={{ $json.input_Product }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "StoreID",
              "displayName": "StoreID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ],
      "id": "0968dc88-da44-44a4-967d-7a686b540484",
      "name": "Call 'Evaluate Product query'"
    }
  ],
  "pinData": {},
  "connections": {
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "Call 'Evaluate Product query'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Record evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Evaluate Product query'": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c3a4c911-4adb-474c-b9c7-742b60739ba9",
  "meta": {
    "instanceId": "23db569c3cc040d2277ed964d8d4dc5444b8680c302ab1c5bfb0876e3dd87964"
  },
  "id": "-s3j-a2Br22V1hNZy0Nox",
  "tags": []
}